@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-beige: #ffca4b;
  --secondary-beige: #ffcf29;
  --primary-purple: #9235c1;
  --secondary-purple: #c59fe0;
  --primary-gray: #212121;
  --secondary-gray: #41464a;
  --primary-orange: #fba682;
}

body {
  background-color: white;
  color: white;
  overflow-x: hidden;
}

.height {
  height: 1000px;
}

.left-navbar {
  width: 800px;
}

.top-container {
  height: 600px;
  width: 100vw;
  margin: 0;
  margin-top: -120px;
  background-size: cover;
  background: linear-gradient(
    to bottom right,
    var(--primary-beige),
    var(--primary-orange)
  );
  z-index: -1;
}

a,
button {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar,
.scrolled,
a {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 400ms;
}

.navbar:hover,
.scrolled {
  background: var(--primary-gray);
}

a:hover {
  color: var(--primary-beige);
}

.menu-box {
  width: 440px;
}

.logo-box {
  width: 72px;
}
