@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-beige: #ffca4b;
  --secondary-beige: #ffcf29;
  --primary-purple: #9235c1;
  --secondary-purple: #c5a1e0;
  --secondary-gray: #414649;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-beige: #ffca4b;
    --secondary-beige: #ffcf29;
    --primary-purple: #9235c1;
    --secondary-purple: #c5a1e0;
    --secondary-gray: #414649;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: white;
  color: white;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.height {
  height: 1000px;
}

.left-navbar {
  width: 800px;
}

.top-container {
  height: 600px;
  width: 100vw;
  margin: 0;
  margin-top: -120px;
  background-size: cover;
  background: linear-gradient(
    to bottom right,
    var(--primary-beige),
    var(--secondary-beige)
  );
  z-index: -1;
}

a,
button {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
